<div class=" main-content">
  <div class=" header bg-gradient-info py-7 py-lg-8 pt-lg-9">
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class=" container mt--8 pb-5">
    <div class=" row justify-content-center">
      <div class=" col-lg-5 col-md-7">
        <div class=" card bg-secondary border-0 mb-0">
          <div class=" card-header bg-transparent" style="text-align: center; "> 
            <a class="navbar-brand" [routerLink]="['/presentation']">
              <img src="assets/img/brand/halal.png" style="height:150px;"/>
            </a>
            <h1>PRODUKTIF2</h1>
          </div>
          <div class=" card-body text-black px-lg-5 py-lg-5">
            <div class=" text-center mb-4">
              <span>Forgot Your Password?</span>
              <p>Just type in your email and we will send you a code to reset your password!</p>
            </div>

            <form role="form">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Email"
                    type="email"
                  />
                </div>
              </div>
              <div class="text-center">
                <button 
                type="button"
                 class="btn btn-primary my-4"
                 routerLinkActive="active"
                 [routerLink]="['/examples/login']"
                 >
                  Submit
                </button>
              </div>
            </form>
          </div>
          
        </div>

       
      </div>
    </div>
  </div>
</div>
