<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h2 text-black d-inline-block mb-0">Dashboard</h6>
  
          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"><span style="color:black;"><i class=" fas fa-home"> </i></span> </a>
              </li>
            </ol>
          </nav>
        </div>
  
        <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>
  
          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
            Filters
          </a>
        </div>
      </div>
  
      <div class=" row">
        <div class=" col-xl-3 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    Total Users
                  </h5>
  
                  <span class=" h2 font-weight-bold mb-0"> 21,000</span>
                </div>
  
                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class=" ni ni-active-40"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class=" col-xl-3 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    New users
                  </h5>
  
                  <span class=" h2 font-weight-bold mb-0">500 </span>
                </div>
  
                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                  >
                    <i class=" ni ni-chart-pie-35"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class=" col-xl-3 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    Halal Manager
                  </h5>
  
                  <span class=" h2 font-weight-bold mb-0"> 20,000 </span>
                </div>
  
                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                  >
                    <i class=" ni ni-money-coins"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class=" col-xl-3 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    Halal Auditor
                  </h5>
  
                  <span class=" h2 font-weight-bold mb-0"> 1000 </span>
                </div>
  
                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                  >
                    <i class=" ni ni-chart-bar-32"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class=" container-fluid mt--6 ">
  <div class=" row">
    <div class=" col-xl-8">
      <div class=" card">
        <div class=" card-header">
          <div class=" row align-items-center">
            <div class=" col">
              <h6 class=" text-light text-uppercase ls-1 mb-1">Overview</h6>

              <h5 class=" h3 text-black mb-0">Statistic Active SMEs Application</h5>
            </div>
          </div>
        </div>

        <div class=" card-body">
          <div class="chart" id="chartdiv1"></div>
        </div>
      </div>
    </div>

    <div class=" col-xl-4">
      <div class=" card">
        <div class=" card-header"><h5 class=" h3 mb-0">To do list</h5></div>
  
        <div class=" card-body p-0">
          <ul class=" list-group list-group-flush" data-toggle="checklist">
            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-success">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Assign halal manager to certify SMEs applicant</h5>
  
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-success"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>
  
            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-warning">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Update pre & post audit</h5>
                  </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-warning"
                  >
                    <input
                      class=" custom-control-input"
                      id="chk-todo-task-2"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-2">
                    </label>
                  </div>
                </div>
              </div>
            </li>
  
            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-info">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Check complaint & compound inbox</h5>
  
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-info"
                  >
                    <input
                      class=" custom-control-input"
                      id="chk-todo-task-3"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-3">
                    </label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-xl-12">
      <div class=" card">
        <div class=" card-header">
          <div class=" row align-items-center">
            <div class=" col">

              <h5 class=" h3 text-black mb-0">Traffic Overview</h5>
            </div>
          </div>
        </div>

        <div class=" card-body">
          <div class="chart" id="chartdiv"></div>
        </div>
      </div>
    </div>
  </div>
</div>
